.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/pier-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
}

.nav-container {
  border: white solid;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  margin: 0;
  height: auto;
  outline: none;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.logo a {
  display: flex;
}

.logo img {
  margin-right: 4px;
}

.logo h1 {
  font-family: "Open Sans";
  font-weight: 595;
  font-size: 19px;
}

.nav-options a {
  margin-left: 30px;
  font-family: "Open sans";
  font-size: 14px;
  color: #333;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.nav-options {
  display: flex;
  align-items: center;
}

.nav-options label img {
  position: relative;
  border: 1px solid transparent;
  margin-left: 5px;
  border-color: #dddddd;
  background-color: transparent;
  padding: 9px 10px;
  border-radius: 4px;
  display: none;
}

.nav-options input {
  display: none;
}

.bg-image .header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: -100px;
}

.header h1 {
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: white;
  font-family: "Montserrat";
  text-shadow: 0 0 8px rgb(0 0 0 / 60%);
  box-shadow: 3px;
  font-size: 5.429rem;
  letter-spacing: 1.2px;
  font-weight: 500;
}

.tag-line h2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
  color: #fff;
  letter-spacing: 1.2px;
}

.blurb p {
  text-align: center;
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.buttons .v-button input {
  text-align: center;
  background-color: transparent;
  color: #e8e8e8;
  border: 1px #e8e8e8 solid;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  letter-spacing: 2px;
}

.buttons .d-button input {
  text-align: center;
  background-color: #00aded;
  color: #e8e8e8;
  border: 1px #e8e8e8 solid;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  letter-spacing: 2px;
}

.bottom-sect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 66px auto;
  gap: 20px;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  color: #333;
  font-family: "Open Sans";
  position: relative;
}

.box {
  border: 1px red dotted;
}

.feature {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.icon img {
  /* position: relative; */
  top: 0;
  left: 0;
  /* display: inline-block; */
  color: #5cb85c;

  padding: 10 10 10 10;
}

.head h4 {
  display: block;
  letter-spacing: 1.25px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.para p {
  opacity: 0.75;
  margin-bottom: 25px;
  margin: 0 0 10px;
  font-size: 14px;
}

@media only screen and (max-width: 1234px) {
  .nav-options {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 988px) {
  .logo {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-options a {
    display: none;
  }

  .nav-options label img {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .header h1 {
    font-size: 4rem;
  }

  .tag-line h2 {
    font-size: 3rem;
    padding-top: 30px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .v-button {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 740px) {
  .bottom-sect {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 438px) {
  .header h1 {
    font-size: 3rem;
  }

  .tag-line h2 {
    font-size: 2rem;
    padding-top: 50px;
  }
}
